@import 'vars';

body {
    margin: 0;
    font-family: $font;
}
header {
    display: flex;
    background-color: $first-color;
    justify-content: space-around;
}
header a {
    color: $second-color;
    text-decoration: none;
    font-size: 1.75em;
}
#sidebar {
    width: $space*4;
    min-width: $space*4;
    text-align: center;
    margin-top: $space;
}
#sidebar button {
    background-color: $first-color;
    font-family: $font;
    margin-top: $space;
    margin-bottom: $space;
    width: 100%;
    height: $space;
    border-radius: 2em;
    font-size: 2em;
    border: none;
    
}
#sidebar button:hover {
    background-color: $third-color;
    color: $first-color;
    cursor: pointer;
}
#main {
    display: flex;
}
.frame {
    margin: auto;
}
.frame div {
    margin: $space;
    border-style: solid;
    text-align: center;
    border-radius: 2em;
    padding: 1em;
    justify-content: space-between;
    font-size: 1.5em;
}