$first-color: teal;
$second-color: black;
$third-color: yellowgreen;

$font: "Georgia";

body {
    margin: 0;
    font-family: $font;
}
header {
    display: flex;
    background-color: $first-color;
    justify-content: space-around;
}
header h1 {
    color: $second-color;
}
#sidebar {
    width: 20vw;
    text-align: center;
}
#sidebar button {
    background-color: $first-color;
    font-family: $font;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    border-radius: 2em;
    font-size: 2.75vw;
    border: none;
    
}
#sidebar button:hover {
    background-color: $third-color;
    color: $first-color;
    cursor: pointer;
}