@import 'vars';

body {
    margin: 0;
    font-family: $font;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(30deg, $second-color 0%, $third-color 100%);
}
#dash {
    width: 75%;
    filter: $drop;
}
#logo {
    width: 12em;
}
header {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 9em;
    background-color: $second-color;
    border-radius: 24px 24px 0 0;
    display: flex;
    justify-content: space-between;
}
.frame {
    height: 60vh;
    display: flex;
    background-image: url("res/bg.png");
    background-size: auto 100%;
    background-size: contain;
    border-radius: 0 0 24px 24px;
}
.frame div {
    padding-left: 1em;
    padding-right: 1em;
}
a {
    color: $second-color;
    text-decoration: none;
}
.menu {
    display: block;
}
.nav {
    display: none;
    position: absolute;
    z-index: 1;
}
.nav a {
    @extend .menu;
}
@mixin bttnstyle {
    background-color: $first-color;
    font-family: $font;
    margin: 0;
    height: 2em;
    border-radius: 2em;
    border: none;
}
.nav button {
    @include bttnstyle;
    width: 5em;
    margin-top: $space;
    font-size: 30px;
}
#drop {
    @include bttnstyle;
    width: 4em;
    margin-top: $space*2;
    font-size: 24px;
}
#sidebar button:hover {
    background-color: $bg;
    cursor: pointer;
}
.text {
    display: flex;
    margin-top: 1em;
    font-size: 24px;
    padding: 1em;
    background-color: $third-color;
}
.menu:hover .nav {
    @extend .menu;
}
@media (max-width: 640px) and (max-height: 960px){
    body {
        margin: 0;
        display: block;
    }
    header {
        padding: 0;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 3em;
    }
    #drop {
        width: 2em;
    }
    #dash {
        width: 100vw;
        margin: 0;
    }
    .frame {
        margin: 0;
        padding: 0;
        height: 84.5vh;
        display: block;
    }
    .frame div {
        padding-top: 1em;
    }
    .text {
        margin: 0;
    }
}