@import 'vars';

body {
    margin: 0;
    font-family: $font;
    background-image: url("res/bg.png");
    background-repeat: repeat-x;
    background-color: $bg;
}
h1 {
    font-size: 32px;
}
header {
    display: flex;
    background-color: $first-color;
    justify-content: space-around;
}
a {
    color: $second-color;
    text-decoration: none;
}
#sidebar button {
    display: block;
    background-color: $first-color;
    font-family: $font;
    margin-top: $space;
    margin-bottom: $space;
    width: 8em;
    height: 2em;
    border-radius: 2em;
    font-size: 30px;
    border: none;
}
#sidebar button:hover {
    background-color: $third-color;
    cursor: pointer;
}
.frame {
    margin-left: 6em;
    margin-right: 6em;
    padding: 0;
    display: flex;
}
.frame div {
    padding: 1em;
    font-size: 20px;
}
.text {
    margin-top: 1em;
}
@media (max-width: 640px) and (max-height: 1000px){
    h1 {
        font-size: 32px;
        margin: 0;
        padding: 12px;
    }
    .frame {
        margin: 0;
        display: block;
        padding: 0;
    }
    #sidebar {
        margin: 0;
        padding: 0;
        padding-left: 6px;
        padding-right: 6px;
        justify-content: space-around;
        display: flex;
    }
    #sidebar a button {
        padding: 0;
        width: 122px;
        font-size: 22px;
    }
    .frame .text {
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0;
    }
}